
body {
    background-color: #FFEDDA;
    }

hr {

    border-style: nonshade;

    border-color: #E63E6D;
    border-width: 1px;
    width: 100%;
    }
h3 {
    color: #FF2442;
}
h1 {
color: #FFB830;
}